/*  Gallarry slideshow 1 */
/* .cont{
  position: relative;
  text-align: center;
  color: white;
} */
*{
  margin:0;
  padding: 0;
  /* background-color: white; */
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: aliceblue;
}
.top{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text-white{
  color: white;
}
.vw-4{
  font-size: 4vw;
}
.vw-3{
  font-size: 3vw;
}
.vw-2{
  font-size: 2vw;
}

.px-wide-100 {
  height: 100vh;
  width: 100vw;
}
.px-wide-50 {
  height: 50vh;
  width: 100vw;
}